*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.header{
  border:3px solid red;
  overflow:auto;
  padding: 20px;
}

.header h1{
  border: 2px dashed black;
  float: left;
}

.header .sns{
  border: 2px dashed green;
  float: right;
  margin-top: 10px;
}

.nav{
  border:3px solid red;
  overflow: auto;
  padding: 20px;
  clear: both;
}

.nav img{
  width: 60px;
  height: 50px;
  display: block;
  border: 2px dashed black;
  float: left;
}

.nav ul{
  border: 2px dashed green;
  float: right;
  margin-top: 10px;
}

.nav ul li{
  display: inline-block;
  
}

.main{
  border: 3px solid red;
  height: 500px;
  overflow: auto;
  clear: both;
}

.section{
  border: 2px dashed black;
  height:500px;
  width: 70%;
  float: left;
  background-image: url(../images/gar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 20px;
}

table{
    border: 1px solid white;
    width: 100%;
    /* border-collapse: separate; */
    border-spacing: 10px;
    empty-cells: hide;
    background-color: grey;
}

th,td{
  border: 1px solid red;
  padding: 5px;
}

td{
  text-align: center;
}

th:hover{
  background-color: green;
}

.sidebar{
  border: 2px dashed black;
  /* height:500px; */
  width: 30%;
  float: right;
  padding: 20px;
}

form{
  background-color: aquamarine;
  padding: 10px;
}

label{
  border:1px dashed red ;
  width: 100%;
  display: block;
}

input,textarea{
  width:100%;
  margin-bottom: 5px;
  padding: 5px;
}

input:hover{
  background-color: yellow;
}

input:focus{
  background-color: brown;
}

.footer{
  border: 3px solid red;
  /* height: 50px; */
  clear: both;
}

.static{
  border: 2px solid yellow;
  height: 100px ;
  width: 100px;
  position: static;
  left: 100px;
}

.relative{
  border: 2px solid blue;
  height: 100px ;
  width: 100px;
  position: relative;
  left: 150px;
  top: 150px;
  background-color: blue;
  z-index: 20;
}

.fixed{
  border: 2px solid green;
  height: 100px ;
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.absolute{
  border: 2px solid purple;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  background-color: purple;
  z-index: 11;
}

.relative2{
  border: 2px solid black;
  height: 200px;
  width: 200px;
  position: relative;
  left: 0;
  top: 0;
}

/* position property */